.stenfalk {
    background-color: #f3feb0;
}
.tornfalk {
    background-color: #fea443;
}
.larkfalk {
    background-color: #705e78;
}
.bivrak {
    background-color: #a5aaa3;
}
.ormvrak {
    background-color: #812f33;
}
.fiskgjuse {
    background-color: #f3feb0;
}

.nav_shadow {
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
}