$abbred-color: #007bff;
$background-color: rgba(255,255,255,.85);
$text-color: #666666;

/* Color Theme Swatches in Hex */
$evening-on-the-beach-1-hex: #F3FEB0;
$evening-on-the-beach-2-hex: #FEA443;
$evening-on-the-beach-3-hex: #705E78;
$evening-on-the-beach-4-hex: #A5AAA3;
$evening-on-the-beach-5-hex: #812F33;

/* Color Theme Swatches in RGBA */
$evening-on-the-beach-1-rgba: rgba(242,253,175, 1);
$evening-on-the-beach-2-rgba: rgba(253,163,66, 1);
$evening-on-the-beach-3-rgba: rgba(112,93,119, 1);
$evening-on-the-beach-4-rgba: rgba(165,170,163, 1);
$evening-on-the-beach-5-rgba: rgba(128,47,51, 1);

/* Color Theme Swatches in HSLA */
$evening-on-the-beach-1-hsla: hsla(68, 97, 84, 1);
$evening-on-the-beach-2-hsla: hsla(31, 98, 62, 1);
$evening-on-the-beach-3-hsla: hsla(281, 12, 41, 1);
$evening-on-the-beach-4-hsla: hsla(102, 3, 65, 1);
$evening-on-the-beach-5-hsla: hsla(357, 46, 34, 1);